.container {
    background-color: #070f26;
    box-shadow: 0px 0px 5px #1d2240;
    border-radius: 10px;
    padding: 20px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.monthArea {
    flex: 1;
    display: flex;
    align-items: center;
}

.monthTitle {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    flex: 1;

}

.arrowLeft,
.arrowRight {
    cursor: pointer;
    padding: 5px;
    display: flex;
    border-radius: 8px;
    background-color: #1d2240;
}

.resumeArea {
    flex: 2;
    display: flex;
}