.container {
  margin: 0 auto;
  max-width: 980px;
  min-height: 100vh;
  padding: 20px;
  background: #00061c;
}

.finance {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 70px;
}

.finance h1 {
  font-size: 20px;
}

.wallet {
  display: flex;
  padding: 6px;
  border-radius: 8px;
  background-color: #6040de;
}

.title {
  margin: 0;
  padding: 0;
  color: #FFF;
  padding-top: 30px;
}