.tableContainer {
  width: 100%;
  background-color: #070f26;
  padding: 20px;
  box-shadow: 0px 0px 5px #1d2240;
  border-radius: 10px;
  color: #FFF;
  margin-top: 20px;
}

.containerTable {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #333;
}

.containerTable table {
  width: 100%;
  border-collapse: collapse;
}

.containerTable thead {
  background-color: #181E35;
}

.containerTable tbody {
  font-size: 12px;
}

.containerTable th,
.containerTable td {
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
}

.containerTable tbody tr:nth-child(even) {
  background-color: #181E35;
}

.containerTable tbody tr:hover {
  background-color: #333;
}

.lancamentosArea {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.icon {
  display: flex;
  background-color: #303263;
  padding: 4px;
  border-radius: 8px;
}

.lancamentosArea h3 {
  font-size: 14px;
}