.container {
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #191f3b;
  margin-left: 10px;
  border-radius: 8px;
  padding: 10px;
}

.title {
  font-size: 10px;
  color: #888;
  margin: 5px 0;

}

.value {
  font-weight: bold;
}